body {
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-size: cover
}
#logo {
    margin-left: 2%;
    padding-right: 50px;
}
* {
    margin: 0;
    padding: 0;
}
#header {
    background-color: #105c47;
    padding-top: 10px;
    padding-bottom: 5px;
}
input {
    padding: 8px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    margin-top: -3px;
    margin-left: 17px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
    float: left;
}
ul li a {
    background-color: #105c47;
    margin: 1px; 
    padding: 3px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: rgb(209, 255, 205)
}
ul li a:hover{
    color: #105c47;
    background-color: white;
}
#nav {
    margin-left: 30%;
    position:absolute; 
    margin-top: -80px ;
}
footer {
    background-color: black;
    color: white;
}
table {
    text-align: left; 
}
td a {
    color: white;
    

}
td {
    width: 1000px;
    border-radius: 20px;
}
