#header {
    background-color: rgb(32, 32, 32);
    padding-top: 15px;
    padding-bottom: 10px;
}
#logo {
    margin-left: 25%;
}
#body {
    margin: 0;
}
#main img {
    border: solid gray 1px; 
    height: 380px;
    width: 850px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
    float: left;
}
ul li a {
    background-color: rgb(161, 243, 161);
    margin: 2px; 
    padding: 5px;
    display: block;
    font-family: Pristina;
    font-size: 20px;
    text-decoration: none;
    color: rgb(22, 22, 114)
}
ul li a:hover{
    color: white;
}
#table1 tr td {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: flex-start;
    background-color: rgb(216, 216, 216);
    box-shadow: rgba(0, 0, 0, 0.644) 0px 2px 5px 0px, rgba(0, 0, 0, 0.644) 0px 2px 18px 0px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px; 
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 22%;
    margin-right: 22%;
}
#table1 {
    margin-left: 22%;
    margin-right: 22%;
}
h3 {
    font-family: Pristina;
    font-size: 20px;
    text-align: center;

}
#nav {
    margin-left: 60%;
    position:absolute; 
    margin-top: -50px ;
}
#footer {
    align-content: center;
    border-top: solid 1px gray;
    height: 380px;
    width: 850px;
    font-family: Arial, Helvetica, sans-serif;
}